body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(/153685422_626f4775-3aec-427d-b099-016eaaa82613.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
}

.btnadminPanel {
    margin-left: 10px;
}

.nav-right button {

    padding: 8px 15px;
    border: none;
    background: #dc3545;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.nav-right button:hover {
    background: #c82333;
}

#login-container, #admin-panel, #admin-dashboard {
    max-width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* #quiz-container {
    max-width: 1500px;
    margin: 0px auto;
    background: white;
    padding: 117px;
    background-image: url(/153685422_626f4775-3aec-427d-b099-016eaaa82613.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

#quiz-container h2,h5,p{
    text-align: center;
    
}

#quiz-container h5{
    font-size: 30px;
}
#quiz-container h2{
    font-size: 50px;
    color: white;
}   

#quiz-container button{
    border-radius: 20px;
    font-size: 15px;
}
#quiz-container span{
    font-size: 20px;
}

.card-radius{
    border-radius: 15px !important;
}

.card-p {
    font-size: 13px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select {
   width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;  
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
}

.password-container span {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

/* .btn .btn-primary{
    background: #28a745;
    
} */

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    padding: 16px;
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


.card {
    width: 300px; 
    height: 200px;
}


@keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 30px; opacity: 1; }
}

@keyframes fadeout {
    from { bottom: 30px; opacity: 1; }
    to { bottom: 0; opacity: 0; }
}