body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(/153685422_626f4775-3aec-427d-b099-016eaaa82613.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
}

.nav-left {
    font-size: 18px;
    font-weight: bold;
}

.nav-right {
    display: flex;
    flex-direction: row;
    
}

.nav-right button {

    padding: 8px 15px;
    border: none;
    background: #dc3545;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.nav-right button:hover {
    background: #c82333;
}

#question {
    font-size: 20px;
    margin-bottom: 10px;
}

button:hover {
    background: #218838;
}

.option {
    display: block;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    color: black;
}

.option:hover {
    background: #0056b3;
    color: white;
}

#timer {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: right;
}

#result {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}



.option.correct {
    background-color: #4CAF50;
    color: white;
}

.option.wrong {
    background-color: #FF5733; 
    color: white;
}
.card-title{
    font-size: 40px;
    text-align: center;
}
#next-btn{
    font-size: 15px;
}   
.btn-width{
    max-width: 500px !important;
}